S3Upload.Client/Service References/PhotoServiceReference/PhotoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52412/PhotoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S3Upload.Service.Contracts" />
  <xs:import schemaLocation="http://localhost:52412/PhotoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/S3Upload.Service.Contracts" minOccurs="0" name="GetPhotoResult" nillable="true" type="q1:PhotoInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhotoUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="FileByteStream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="Length" type="xs:long" />
</xs:schema>