S3Upload.Client/Service References/PhotoServiceReference/PhotoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhotoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52412/PhotoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52412/PhotoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52412/PhotoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S3Upload.Service.Contracts" />
      <xsd:import schemaLocation="http://localhost:52412/PhotoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhotoService_GetPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhoto" />
  </wsdl:message>
  <wsdl:message name="IPhotoService_GetPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoUpload">
    <wsdl:part name="parameters" element="tns:PhotoUpload" />
  </wsdl:message>
  <wsdl:message name="PhotoUpload_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="IPhotoService_UploadPhoto_OutputMessage" />
  <wsdl:portType name="IPhotoService">
    <wsdl:operation name="GetPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotoService/GetPhoto" message="tns:IPhotoService_GetPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotoService/GetPhotoResponse" message="tns:IPhotoService_GetPhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotoService/UploadPhoto" name="PhotoUpload" message="tns:PhotoUpload" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotoService/UploadPhotoResponse" message="tns:IPhotoService_UploadPhoto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhotoService" type="tns:IPhotoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhoto">
      <soap:operation soapAction="http://tempuri.org/IPhotoService/GetPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPhoto">
      <soap:operation soapAction="http://tempuri.org/IPhotoService/UploadPhoto" style="document" />
      <wsdl:input name="PhotoUpload">
        <soap:header message="tns:PhotoUpload_Headers" part="FileName" use="literal" />
        <soap:header message="tns:PhotoUpload_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhotoService">
    <wsdl:port name="BasicHttpBinding_IPhotoService" binding="tns:BasicHttpBinding_IPhotoService">
      <soap:address location="http://localhost:52412/PhotoService.svc/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>